<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table header-border table-responsive-sm">
        <thead>
        <tr>
          <th>Ime i prezime</th>
          <th>Pol</th>
          <th>Email</th>
          <th>Telefon</th>
          <th>Veličina majice</th>
          <th>Strava ID</th>
          <th>Poslednja prijava</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>
            {{user.fullName}}
          </td>
          <td>
            {{user.gender}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            {{user.phone}}
          </td>
          <td>
            {{user.shirtSize}}
          </td>
          <td>
            {{user.stravaId}}
          </td>
          <td>{{user.lastLoginDate != null ? user.lastLoginDate : 'Nije poznato'}}</td>
          <td>
            <button (click)="markForConvert(user.id)" type="button" data-bs-toggle="modal" data-bs-target="#convert-modal" class="btn btn-primary shadow btn-xs sharp"><i class="fa fa-user-plus"></i></button>&nbsp;
            <button (click)="markForDelete(user.id)" type="button" data-bs-toggle="modal" data-bs-target="#confirm-modal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-convert-guest-modal [id]="forConvert" (createdEvent)="load()"></app-convert-guest-modal>
<app-confirm-modal (confirmEvent)="delete()"></app-confirm-modal>
