<div class="card">
  <div class="card-body">
    <h4>Izmena lozinke</h4><br>
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="mb-3">
        <label class="mb-1"><strong>Nova lozinka <app-ms></app-ms></strong></label>
        <input type="text" class="form-control" name="newPassword"
               [(ngModel)]="form.newPassword" required #newPassword="ngModel">
        <div class="alert alert-danger" role="alert"
             *ngIf="newPassword.errors && f.submitted">
          Nova lozinka je obavezna!
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Izmeni lozinku</button>
    </form>
  </div>
</div>
