<div class="header">
  <div class="header-content">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse justify-content-between">
        <div class="header-left">
          <div class="dashboard_bar">
            Running Club Nis
          </div>
        </div>
        <ul class="navbar-nav header-right">
          <li class="nav-item dropdown header-profile">
            <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
              <img src="/assets/images/profile/profile1.png" width="20" alt=""/>
            </a>
            <div  *ngIf="rawRole == 'ROLE_USER'" class="dropdown-menu dropdown-menu-end">
              <a [routerLink]="['/user/profile']" class="dropdown-item ai-icon">
                <svg id="icon-user2" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                <span class="ms-2">Profil</span>
              </a>
              <app-logout-button></app-logout-button>
            </div>
            <div  *ngIf="rawRole == 'ROLE_SYSTEM_ADMIN'" class="dropdown-menu dropdown-menu-end">
              <a [routerLink]="['/admin/profile']" class="dropdown-item ai-icon">
                <svg id="icon-user2" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                <span class="ms-2">Profil</span>
              </a>
              <app-logout-button></app-logout-button>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
