<div class="modal fade" id="confirm-modal">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Da li ste sigurni?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal">
          </button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger light" id="closeConfirmModal" data-bs-dismiss="modal">Ne</button>
          <button type="button" (click)="confirm()" class="btn btn-primary">Da</button>
        </div>
      </div>
  </div>
</div>
