<div class="modal fade" id="race-modal">
  <div class="modal-dialog" role="document">
    <form class="user" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Kreiranje novog izveštaja</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal">
          </button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="mb-1"><strong>Naziv trke <app-ms></app-ms></strong></label>
            <input type="text" class="form-control" name="title"
                   [(ngModel)]="form.title" required #title="ngModel">
            <div class="alert alert-danger" role="alert"
                 *ngIf="title.errors && f.submitted">
              Naslov trke je obavezan!
            </div>
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Distanca (izaberi iz liste ili ukucaj distancu u kilometrima) <app-ms></app-ms></strong></label>
            <select (change)="changeDistance()"  name="selectedDistance" [(ngModel)]="selectedDistance" class="form-control">
              <option value="-1">Unesi ispod distancu u kilometrima ili klikni ovde da izaberes</option>
              <option value="5">5 km</option>
              <option value="10">10 km</option>
              <option value="Polumaraton">Polumaraton</option>
              <option value="Maraton">Maraton</option>
              <option value="Sprint trijatlon">Sprint trijatlon</option>
              <option value="Olimpijski trijatlon">Olimpijski trijatlon</option>
              <option value="Polu ironman distanca">Polu ironman distanca</option>
              <option value="Ironman distanca">Ironman distanca</option>
            </select> <br>
            <input type="text" class="form-control" name="distance"
                   [(ngModel)]="form.distance" required #distance="ngModel">
            <div class="alert alert-danger" role="alert"
                 *ngIf="distance.errors && f.submitted">
              Distanca je obavezna
            </div>
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Datum trke <app-ms></app-ms></strong></label>
            <input type="date" class="form-control" name="date"
                   [(ngModel)]="form.date"  #date="ngModel" required>
            <div class="alert alert-danger" role="alert"
                 *ngIf="date.errors && f.submitted">
              Datum je obavezan
            </div>
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Dodatne informacije </strong></label>
            <textarea type="text" class="form-control" name="info"
                      [(ngModel)]="form.info"  #info="ngModel"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger light" id="closeRaceModal" data-bs-dismiss="modal">Zatvori</button>
          <button type="submit" class="btn btn-primary">Kreiraj</button>
        </div>
      </div>
    </form>
  </div>
</div>
