<app-page-title title="Profil člana"></app-page-title>
<div class="row">
  <div class="col-lg-12">
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="mb-3">
        <label class="mb-1"><strong>Ime i prezime <app-ms></app-ms></strong></label>
        <input type="text" class="form-control" name="fullName"
               [(ngModel)]="form.fullName" required #fullName="ngModel">
        <div class="alert alert-danger" role="alert"
             *ngIf="fullName.errors && f.submitted">
          Ime i prezime je obavezno!
        </div>
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Email </strong></label>
        <input type="email" class="form-control" name="email"
               [(ngModel)]="user.email" readonly disabled>
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Strava id </strong></label>
        <input type="text" class="form-control" name="stravaId"
               [(ngModel)]="user.stravaId"  #stravaId="ngModel" readonly disabled>
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Članarina važi do</strong></label>
        <input type="date" class="form-control" name="membershipUntil"
               [(ngModel)]="form.membershipUntil"  #membershipUntil="ngModel">
      </div>
      <button type="submit" class="btn btn-primary">Izmeni</button>
    </form>
  </div>
</div>
