<body class="vh-100">
<div class="authincation h-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-md-6">
        <div class="authincation-content">
          <div class="row no-gutters">
            <div class="col-xl-12">
              <div class="auth-form">
                <div class="text-center mb-3">
                  <app-logo></app-logo>
                </div>
                <h4 class="text-center mb-4">Prijava koristeći email</h4>
                <form class="user" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="mb-3">
                    <label class="mb-1"><strong>Email <app-ms></app-ms></strong></label>
                    <input type="email" class="form-control" name="email"
                           [(ngModel)]="form.email" required #email="ngModel">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="email.errors && f.submitted">
                      Email je obavezan!
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="mb-1"><strong>Lozinka <app-ms></app-ms></strong></label>
                    <input type="password" class="form-control" name="password"
                           [(ngModel)]="form.password" required #password="ngModel">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="password.errors && f.submitted">
                      Lozinka je obavezna!
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Prijavi se</button>
                  </div>
                </form>
                <br>
                <div class="mb-3">
                  <div class="text-center">
                    <h4 class="text-center mb-4">Prijava koristeći Stravu</h4>
                  </div>
                </div>
                <div class="mb-3">
                  <a href="https://www.strava.com/oauth/authorize?client_id=116659&redirect_uri=https://rcnapp.xyz/login&scope=activity:read_all&response_type=code" class="btn btn-block btn-primary">Strava prijava</a>
                </div>
                <div class="new-account mt-3">
                  <p>Nemaš nalog i želiš da se registruješ bez povezivanja sa Stravom? <a class="text-primary" routerLink="/register">Registracija</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
