<div class="modal fade" id="create-mapping-modal">
  <div class="modal-dialog" role="document">
    <form class="user" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new mapping</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        </button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label class="mb-1"><strong>Sim key <app-ms></app-ms></strong></label>
            <input type="text" class="form-control" name="simKey"
                   [(ngModel)]="form.simKey" required #simKey="ngModel">
            <div class="alert alert-danger" role="alert"
                 *ngIf="simKey.errors && f.submitted">
              Sim key is required!
            </div>
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Aicraft ICAO <app-ms></app-ms></strong></label>
            <input type="icao" class="form-control" name="icao"
                   [(ngModel)]="form.icao" required #icao="ngModel">
            <div class="alert alert-danger" role="alert"
                 *ngIf="icao.errors && f.submitted">
              ICAO is required!
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger light" id="closeMappingModal" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    </form>
  </div>
</div>
