<div class="card">
  <div class="card-body">
    <h4>Podaci o članu</h4><br>
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="mb-3">
        <label class="mb-1"><strong>Ime i prezime <app-ms></app-ms></strong></label>
        <input type="text" class="form-control" name="fullName"
               [(ngModel)]="form.fullName" required #fullName="ngModel">
        <div class="alert alert-danger" role="alert"
             *ngIf="fullName.errors && f.submitted">
          Ime i prezime je obavezno!
        </div>
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Email <app-ms></app-ms></strong></label>
        <input type="email" class="form-control" name="email"
               [(ngModel)]="form.email" required #email="ngModel">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="email.errors && f.submitted">
        Email je obavezan!
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Strava id </strong></label>
        <input type="text" class="form-control" name="stravaId"
               [(ngModel)]="form.stravaId"  #stravaId="ngModel">
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Pol </strong></label>
        <input type="text" class="form-control" name="gender"
               [value]="getGender(user.gender)"  readonly disabled>
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Telefon </strong></label>
        <input type="text" class="form-control" name="phone"
               [(ngModel)]="form.phone" required #phone="ngModel">
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Veličina majice </strong></label>
        <input type="text" class="form-control" name="shirtSize"
               [(ngModel)]="form.shirtSize" required #shirtSize="ngModel">
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Dodatne informacije </strong></label>
        <textarea type="text" class="form-control" name="info"
                  [(ngModel)]="form.info" required #info="ngModel"></textarea>
      </div>
      <div class="mb-3">
        <label class="mb-1"><strong>Članarina važi do</strong></label>
        <input type="date" class="form-control" name="membershipUntil"
               [(ngModel)]="user.membershipUntil"  #membershipUntil="ngModel" readonly disabled>
      </div>
      <button type="submit" class="btn btn-primary">Izmeni podatke</button>
    </form>
  </div>
</div>
