<app-page-title title="Detalji o članu"></app-page-title>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4>Podaci o članu</h4><br>
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="mb-3">
            <label class="mb-1"><strong>Ime i prezime <app-ms></app-ms></strong></label>
            <input type="text" class="form-control" name="fullName"
                   [(ngModel)]="form.fullName" required #fullName="ngModel">
            <div class="alert alert-danger" role="alert"
                 *ngIf="fullName.errors && f.submitted">
              Ime i prezime je obavezno!
            </div>
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Email </strong></label>
            <input type="email" class="form-control" name="email"
                   [(ngModel)]="user.email" readonly disabled>
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Strava id </strong></label>
            <input type="text" class="form-control" name="stravaId"
                   [(ngModel)]="user.stravaId"  #stravaId="ngModel" readonly disabled>
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Pol </strong></label>
            <input type="text" class="form-control" name="gender"
                   [value]="getGender(user.gender)"  readonly disabled>
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Telefon </strong></label>
            <input type="text" class="form-control" name="phone"
                   [(ngModel)]="form.phone" #phone="ngModel">
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Veličina majice </strong></label>
            <input type="text" class="form-control" name="shirtSize"
                   [(ngModel)]="form.shirtSize"  #shirtSize="ngModel">
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Dodatne informacije </strong></label>
            <textarea type="text" class="form-control" name="info"
                      [(ngModel)]="form.info"  #info="ngModel"></textarea>
          </div>
          <div class="mb-3">
            <label class="mb-1"><strong>Članarina važi do</strong></label>
            <input type="date" class="form-control" name="membershipUntil"
                   [(ngModel)]="form.membershipUntil"  #membershipUntil="ngModel">
          </div>
          <button type="submit" class="btn btn-primary">Izmeni</button>
        </form>
      </div>
    </div>
  </div>
</div>
