<div class="card">
  <div class="card-body">
    <div class="row shapreter-row">
      <div class="col-xl-2 col-lg-2 col-sm-4 col-6">
        <div class="static-icon">
													<span>
														<i class="fas fa-plane-departure"></i>
													</span>
          <h4 class="count">EDDF</h4>
          <span class="fs-14">Departure</span>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-4 col-6">
        <div class="static-icon">
													<span>
														<i class="fas fa-plane-arrival"></i>
													</span>
          <h4 class="count">LYBE</h4>
          <span class="fs-14">Arrival</span>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-4 col-6">
        <div class="static-icon">
													<span>
														<i class="fas fa-calendar"></i>
													</span>
          <h4 class="count">03/03/23 13:30</h4>
          <span class="fs-14">Departure time</span>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-4 col-6">
        <div class="static-icon">
													<span>
														<i class="fas fa-calendar"></i>
													</span>
          <h4 class="count">03/03/23 15:00</h4>
          <span class="fs-14">Arrival time</span>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-4 col-6">
        <div class="static-icon">
													<span>
														<i class="fas fa-clock"></i>
													</span>
          <h4 class="count">01:30:00</h4>
          <span class="fs-14">Flight time</span>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-4 col-6">
        <div class="static-icon">
													<span>
														<i class="fas fa-plane"></i>
													</span>
          <h4 class="count">B738</h4>
          <span class="fs-14">Aircraft</span>
        </div>
      </div>
    </div>
  </div>
</div>
